@import 'tailwindcss';

@plugin "daisyui" {
	themes: black --default;
}

/* Font for all elements*/

* {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
}

/* Font size */

.large-font {
	font-size: 48px;
}
@media (min-width: 640px) {
	.large-font {
		font-size: 64px;
	}
}

.medium-font {
	font-size: 18px;
}

.small-font {
	font-size: 14px;
}

/* margin */

.margin-top {
	margin-top: clamp(40px, 8vw, 80px);
}
